
body {
  font-family: Georgia, serif;
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}
main {
    margin: 3rem;
}
li {
    margin: 2rem;
}
.navbar .nav-link,
.navbar .navbar-brand {
    font-weight: bold;
}